<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form method="POST" action="/listings">
        <input  name="Listing[yourname]" placeholder="enter name" type="text">
        <br></br>
        <input  name="Listing[email]" placeholder="enter email" type="text">
        <br></br>
        <input name="Listing[age]" placeholder="enter age" type="text">
        <br></br>
        <input name="Listing[country]" placeholder="enter country" type="text">
    </form>
</body>
</html>